body {
  background-color: green;
  color: white;
  text-transform: capitalize;
}
#Logo {
  width: 30px;
  height: 30px;
  float: left;
}
.Title {
  padding-left: 40px;

}
.deskripsi {
  text-align: justify;
}
.deskripsi2 {
  text-decoration: underline;
}
.deskripsi3 {
  text-align: center;
}
#deskripsi {
  text-align: center;
}
#deskripsi2 {
  text-decoration: line-through;
}
